<div class="col-md-8">
  <svg smupf-viewbox="layout">
    
    <g class="chart">
      <rect class="border" ng-attr-width="{{layout.innerWidth}}" ng-attr-height="{{layout.innerHeight}}"/>
      <line class="mean" ng-attr-transform="translate({{layout.innerWidth/2}},0)" ng-attr-y2="{{layout.innerHeight}}"/>

      <g class="results" ng-repeat="r in exam.data" ng-attr-transform="translate(0,{{yScale(r.name)}})">
        <text ng-attr-transform="translate({{-layout.margin.left+10}},0)">
          {{r.name}}
        </text>
        <line ng-attr-x1="{{xScale(r.min)}}" ng-attr-x2="{{xScale(r.max)}}"/>
        <line class="min" ng-attr-transform="translate({{xScale(r.min)}})" y1="-5" y2="5"/>
        <line class="max" ng-attr-transform="translate({{xScale(r.max)}})" y1="-5" y2="5"/>
        <rect ng-attr-transform="translate({{xScale(r.student)-4}},-4)" width="8" height="8"/>
      </g>
    </g>

    <g class="axis x-axis" ng-attr-transform="translate(0,{{layout.innerHeight}})">
      <line ng-attr-x2="{{layout.innerWidth}}"/>
      <g class="tick" ng-repeat="t in ticks" ng-attr-transform="translate({{xScale(t)}},0)">
        <line y2="5"/>
      </g>
      <g class="main-tick" ng-repeat="t in [-2, -1, 0, 1, 2]" ng-attr-transform="translate({{xScale(t)}},0)">
        <line y1="5" y2="8"/>
        <text dy="12">{{t}}</text>
      </g>
    </g>

  </svg>
</div>

<div class="col-md-4">
  <h3>Interpretation</h3>
  <p>
    This graph provides information about your performance relative to the 
    performance of all other students on each topic.
  </p>
  <p>
    The green line represents the mean percentage of questions that all students 
    have answered correctly on this topic, over time (not necessarily the same 
    questions that you have answered on each topic).
  </p>
  <p>
    The red box is your mean score, and the hatch marks represent the standard 
    deviation of your scores.
  </p>
  <p>
    By comparing the red boxes, you can determine the disciplines and organ 
    systems in which your performance is relatively weak or strong.
  </p>
</div>