<div class="col-md-8">
  <div class="row">

    <div class="col-md-6">
      <p ng-if="portfolio.examSeries|isEmpty">You have not taken part to any exam.</p>

      <div ng-repeat="(_, serie) in portfolio.examSeries">

        <h3 ng-bind="serie.name">Exam type</h3>
        <ul>
          <li ng-repeat="(_, exam) in serie.exams">
            <a ng-href="#/portfolio/{{portfolio.id}}/exam/{{exam.id}}" ng-bind="exam.name">No exam</a>
          </li>
        </ul>
      </div>

    </div>

    <div class="col-md-6">
      <p ng-if="portfolio.evaluationSeries|isEmpty">You have not taken part to any evaluation.</p>

      <div ng-repeat="(_, serie) in portfolio.evaluationSeries">

        <h3 ng-bind="serie.name">Evaluation type</h3>
        <ul>
          <li ng-repeat="(_, evaluation) in serie.evaluations">
            <a ng-href="#/portfolio/{{portfolio.id}}/evaluation/{{evaluation.id}}" ng-bind="evaluation.name">No evaluation</a>
          </li>
        </ul>
      </div>

    </div>

  </div>

</div>

<div class="col-md-4 side-bar">

  <img ng-src="{{portfolio.student.photo}}" alt="student portrait" class="img-thumbnail"/>
  <h3>
    <span ng-bind="portfolio.student.firstName">Student first name</span>
    <span ng-bind="portfolio.student.lastName">Student last name</span>
    <small ng-bind="portfolio.student.matricule">student matricule</small>
  </h3>

</div>
