<div class="col-md-12">
  <p ng-if="loading" class="alert alert-info">Loading student's portfololio list...</p>
  <p ng-if="loadingError" class="alert alert-danger" ng-bind="loadingError"></p>
</div>

<div class="col-md-8" ng-if="portfolioLoaded">

  <div class="row">

    <div class="col-md-6">
      <p ng-if="portfolio.examSeries|isEmpty">You have not taken part to any exam.</p>

      <div ng-repeat="(_, series) in portfolio.examSeries">

        <h3 ng-bind="series.name">Exam type</h3>
        <ul>
          <li ng-repeat="(_, exam) in series.exams">
            <a ng-href="#/portfolio/{{portfolio.id}}/exam/{{exam.id}}" ng-bind="exam.name">No exam</a>
          </li>
        </ul>
      </div>

    </div>

    <div class="col-md-6">
      <p ng-if="portfolio.evaluationSeries|isEmpty">You have not taken part to any evaluation.</p>

      <div ng-repeat="(_, series) in portfolio.evaluationSeries">

        <h3 ng-bind="series.name">Evaluation type</h3>
        <ul>
          <li ng-repeat="(_, evaluation) in series.evaluations">
            <a ng-href="#/portfolio/{{portfolio.id}}/evaluation/{{evaluation.id}}" ng-bind="evaluation.name">No evaluation</a>
          </li>
        </ul>
      </div>

    </div>

  </div>

</div>

<div class="col-md-4 side-bar" ng-if="portfolioLoaded">

  <img ng-src="{{portfolio.student.photo}}" alt="student portrait" class="img-thumbnail"/>
  <h3>
    <span ng-bind="portfolio.student.firstName">Student first name</span>
    <span ng-bind="portfolio.student.lastName">Student last name</span>
    <small ng-bind="portfolio.student.id">student studentId</small>
  </h3>

</div>
