<!DOCTYPE html>
<html lang="en" data-ng-app="smuPortFolio">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Angular Portfolio</title>

  <!-- <link rel="stylesheet" href="assets/angular-portfolio-all.min.css"/> -->
  <link rel="stylesheet" href="assets/angular-portfolio-dep.css"/>
  <link rel="stylesheet" href="assets/angular-portfolio.css"/>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="page-header row">
          <div class="col-md-9">
            <h1 ng-init="page={}" ng-bind="page.title">The Title Goes Here</h1>
          </div>
          <div class="col-md-3 nav" ng-controller="smuPFLoginInfoCtrl">
            <p>
              <span ng-if="page.parent">
                <a href="{{page.parent}}">back</a> / 
              </span>
              <span ng-if="user.loading">Checking login info...</span>
              <span ng-if="user.info.loginUrl">
                <a ng-href="{{user.info.loginUrl}}">log in</a>
              </span>
              <span ng-if="user.info.logoutUrl">
                <a ng-href="{{user.info.logoutUrl}}">log out</a>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 side-bar">
        <img src="http://placehold.it/300x100&text=logo" alt="logo" class="img-thumbnail">
      </div>
    </div>
  <div ng-view class="row"></div>

  <!-- JavaScript -->
  <!-- <script src="assets/angular-portfolio-all.min.js"></script> -->
  <script src="assets/angular-portfolio-dep.js"></script>
  <script src="assets/angular-portfolio.js"></script>

</body>

</html>
