.side-bar {
  text-align: center;
}

div.evaluation .row {
  height: 300px;
}
rect {
  fill: none;
  stroke-width: 1px;
  stroke: #333;
}


line {
  stroke: #333;
  stroke-width: 1px;
}

text {
  color: #333;
  dominant-baseline: hanging;
  text-anchor: middle;
  font-size: 10px;
}

/** chart rules **/

line.mean {
  stroke: #32CD32;
}

.results line {
  stroke: #B22222;
}

.results rect {
  fill: #B22222;
  stroke: #ddd;
}

.results:hover text {
  font-weight: 800;
  font-size: 1.1em;
}

.results:hover line {
  stroke-width: 2px;
}

/** y-axis **/

.results text {
  dominant-baseline: middle;
  text-anchor: start;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
